.DS_Store
__pycache__/
*.py[cod]
*.pyo
*.swp

.venv/
.venv-pkg/

video-player-build/.venv/
video-player-build/.venv-pkg/
video-player-build/dist/
video-player-build/work/
video-player-build/spec/
video-player-build/release/
video-player-build/AppIcon.icns
video-player-build/AppIcon-1024.png
video-player-build/AppIcon.iconset/

*.log
